<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://bd437d50.ngrok.io/Framework/public/Assets/Bootstrap/css/bootstrap.css">
    <title>{{home}}</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
    </nav>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">user_ID</th>
                        <th scope="col">username</th>
                        <th scope="col">first_name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Password</th>
                        <th scope="col">Status</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d_siswa in siswa %}
                    <tr>    <td>1</td>
                            <td>{{d_siswa.user_id}}</td>
                            <td>{{d_siswa.username}}</td>
                            <td>{{d_siswa.first_name}}</td>
                            <td>{{d_siswa.last_name}}</td>
                            <td>{{d_siswa.gender}}</td>
                            <td>{{d_siswa.password}}</td>
                            <td>{{d_siswa.status}}</td>
                            <td><a href="{{ url('delete', {'user_id' : d_siswa.user_id}) }}" onclick="return confirm('serius?')">Delete</a></td>
                            
                    </tr>
                    {% endfor %}  
                </tbody>
                </table>
                
</body>
</html>